.imageActer img {
  width: 350px;
  height: 500px;
  padding: 30px 0;
  border-radius: 10%;
}

.actr {
  display: flex;
  gap: 50px;
}
.text {
  color: white;
}
.data {
  display: flex;
  gap: 50px;
}

.filmes img {
  width: 200px;
  height: 300px;
  border-radius: 10px 10px 0 0;

  background: url("https://st2.depositphotos.com/1105977/11349/i/450/depositphotos_113491902-stock-photo-retro-film-production-accessories-still.jpg")
    no-repeat center/cover;
}

.filmes {
  width: 200px;
  height: 410px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #001170 0%,
    #b10093 48%,
    #b10093 52%,
    #001170 100%
  );
}

.fi2::-webkit-scrollbar {
  width: 0;
}

.fi1 h4 {
  color: white;
  font-size: 20px;
}

.fi1 h3 {
  /* font-size: 20px; */
  color: white;
  text-align: center;
}

.fi2 {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  font-size: 10px;
  color: white;
  text-align: center;
}

.gg {
  /* margin-left: 200px; */
  color: white;
}
